ADMIN_PASSWORD=change-me

# Ces deux-là sont ajoutées automatiquement par Vercel quand tu connectes
# l'intégration "Upstash Redis" au projet (Storage > Create > Redis) :
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
